---
---

@import "{{ site.theme }}";

.wrapper {
  width: 900px;
}

.wrapper > section {
  width: 536px;
}

ul.downloads {
  display: flex;
  justify-content: center;
}

.downloads li {
  float:none;
  border: none;
}
